---
import ShadowSlot from "./shadow-slot.astro";

const { color, ...props } = Astro.props;
---

<color-preview style={{ "--color": color }} {...props}>
	<template shadowrootmode="open">
		<style is:inline>
			:host {
				box-sizing: border-box;
				margin-inline: 0.5ch;
				outline: 2px solid;
				padding: 2px;
				padding-inline-start: 4px;
				border-radius: 4px;
				background-color: color-mix(in srgb, var(--color) 12%, transparent);
			}
			span {
				display: inline-block;
				width: 1em;
				height: 1em;
				background-color: var(--color);
				border-radius: 9e9px;
				vertical-align: middle;
				transform: translateY(-0.1em);
			}
		</style>
		<span></span>
		<ShadowSlot />
	</template>
	{color}
</color-preview>
