---
const { title = "open-styleable" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>

	<body>
		<!-- astro slot -->
		<slot />
	</body>
</html>
